<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>用户中心</title>
	<link rel="stylesheet" type="text/css" href="/static/index/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/index/css/jquery.pagination.css">
    <link rel="stylesheet" type="text/css" href="/static/index/css/main.css">
    <script type="text/javascript" src="/static/index/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="/static/index/js/user_follow.js"></script>
</head>
<body class="inframe_body">
        <h3 class="common_title">我的关注</h3>
        <ul class="card_list_con">
            {% for user in followed_users %}
            <li class="author_card card_list">
                <a href="#" target="_blank" class="author_pic"><img src="/static/index/images/cat.jpg" alt="author_pic"></a>
                <a href="#" target="_blank" class="author_name">{{ user.get("name") }}</a>
                <div class="author_resume">{{ user.get("desc") }}</div>
                <div class="writings"><span>总篇数</span><b>{{ user.get("news_num") }}</b></div>
                <div class="follows"><span>粉丝</span><b>{{ user.get("follower_num") }}</b></div>
                <a href="javascript:;" class="focus fr">关注</a>
                <a href="javascript:;" class="focused fr"><span class="out">已关注</span><span class="over">取消关注</span></a>
            </li>
            {% endfor %}
        </ul>
        
        
       <div id="pagination" class="page">
           <div class="ui-pagination-container">

               <a href="{{ url_for('.user_follow') }}?page=1" class="ui-pagination-page-item" >首页</a>

               {% if paginate.has_prev%}
{#                  /user/user_follow?page=1 #}
               <a href="{{ url_for('.user_follow') }}?page={{ paginate.prev_num }}" class="ui-pagination-page-item" >上一页</a>
               {% endif %}
               {% for num in paginate.iter_pages() %}
                   {% if num == paginate.page %}
                    <a href="#" class="ui-pagination-page-item active" >{{ num }}</a>
                   {% else %}
                    <a href="{{ url_for('.user_follow') }}?page={{ num }}" class="ui-pagination-page-item" >{{ num }}</a>
                   {% endif %}

               {% endfor %}
                {% if paginate.has_next%}
               <a href="{{ url_for('.user_follow') }}?page={{ paginate.next_num }}" class="ui-pagination-page-item" >下一页</a>
                {% endif %}
               <a href="{{ url_for('.user_follow') }}?page={{ paginate.pages }}" class="ui-pagination-page-item" >尾页</a>
           </div>
       </div>
</body>
</html>