<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新经资讯后台管理</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/main.css">
    <link rel="stylesheet" href="/static/admin/css/jquery.pagination.css">
    <script type="text/javascript" src="/static/admin/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.pagination.min.js"></script>
</head>
<body>
    <div class="breadcrub">
            当前位置：用户管理>用户列表
        </div>
        <div class="pannel">
            <table class="common_table">
                <tr>
                    <th>用户名</th>
                    <th>电话</th>
                    <th>注册时间</th>
                    <th>上次登录时间</th>
                </tr>
                {% for x in users %}
                <tr>
                    <td>{{ x.get("name") }}</td>
                    <td>{{ x.get("mobile") }}</td>
                    <td>{{ x.get("create_time") }}</td>
                    <td>{{ x.get("last_login_time") }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

       <div id="pagination" class="page">
           <div class="ui-pagination-container">

               <a href="{{ url_for('.user_list') }}?page=1" class="ui-pagination-page-item" >首页</a>

               {% if paginate.has_prev%}
               <a href="{{ url_for('.user_list') }}?page={{ paginate.prev_num }}" class="ui-pagination-page-item" >上一页</a>
               {% endif %}
               {% for num in paginate.iter_pages() %}
                   {% if num == paginate.page %}
                    <a href="#" class="ui-pagination-page-item active" >{{ num }}</a>
                   {% elif num %}
                    <a href="{{ url_for('.user_list') }}?page={{ num }}" class="ui-pagination-page-item" >{{ num }}</a>
                   {% endif %}

               {% endfor %}
                {% if paginate.has_next%}
               <a href="{{ url_for('.user_list') }}?page={{ paginate.next_num }}" class="ui-pagination-page-item" >下一页</a>
                {% endif %}
               <a href="{{ url_for('.user_list') }}?page={{ paginate.pages }}" class="ui-pagination-page-item" >尾页</a>
           </div>
       </div>
</body>
</html>